body {
  background: #1a1c22;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.titulo {
  text-align: center;
  margin-top: 20px;
  font-size: 26px;
}

#map {
  height: 60vh;
  width: 90%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}

#data {
  width: 90%;
  margin: 20px auto;
  background: #2a2d35;
  padding: 20px;
  border-radius: 15px;
}

table {
  width: 100%;
  color: white;
}

th {
  background: #007bff;
  padding: 10px;
}

td {
  padding: 10px;
  border-bottom: 1px solid #555;
}

tr:hover {
  background: #f5f5f5;
}

.alerta {
  padding: 10px;
  background: red;
  color: white;
  font-weight: bold;
  text-align: center;
  display: none;
  margin-bottom: 10px;
}
#btnMiUbicacion {
      position: center;
      padding: 10px 15px;
      background: #007bff;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      z-index: 9;
    }
